<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrollCMD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrollCMD.Properties.Settings>
            <setting name="startInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
        </TrollCMD.Properties.Settings>
    </userSettings>
</configuration>